[submodule "primeros-ejercicios"]
	path = primeros-ejercicios
	url = https://github.com/Yna25/primeros-ejercicios.git
[submodule "ejercicios-2"]
	path = ejercicios-2
	url = https://github.com/Yna25/ejercicios-2.git
[submodule "ejercicios-3"]
	path = ejercicios-3
	url = https://github.com/Yna25/ejercicios-3.git
